* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAQUINA DE ESCREVER */
.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}
h1 {
    color: white;
    font-family: monospace;
    border-right: 4px solid;
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(18), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;

    }
}
/* MAQUINA DE ESCREVER */


/* ANIMAÇÃO IMG */
.img {
    display: flex;
    justify-content: center;

    /* ANIMAÇÃO CSS IMG */
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;

}
@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0px);
    }
}
/* ANIMAÇÃO IMG */

/* MENU DO SITE  */
#menu {
    list-style: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    
}

#menu li {
    display: inline;

}

#menu li a{
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 1s;
}
#menu li a:hover{
    color: rgb(13, 0, 255);
    transform: translateX(10px);
}

.container {
    margin-top: 45px;
}
/* MENU DO SITE  */


/* LOGIN  */
.login{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
/* LOGIN  */

/* BOTAO  */
#botao{
    padding: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 20%;
    border-radius: 10px;
    transition: 1s;
}

#botao:hover{
    background-color:rgba(13, 0, 255, 0) ;

}

.caixa-botao{
    display: flex;
    justify-content: center;
}
/* BOTAO  */


/* INPUT */

#username{
    border-radius: 5px;
}

#email{
    border-radius: 5px;
}

#pwd{
    border-radius: 5px;
}
/* INPUT */